
/* BODY */
html {
    font-family: roboto, sans-serif;
    color: #646464;
    background-color: #f5f5f5;
}

body {
    margin: auto;
    width: 800px;
}

a {
    text-decoration: none;
    color: inherit;
}

#container {
    min-height:100%;
    position:relative;
    width: inherit;
}
header {
    position: fixed;
    top: -1em;
    height: 4em;
    background-color: #ffffff;

    width: inherit;

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    border-color: #70bf44;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;

    box-shadow: .5em .5em .5em #aaa;

    z-index: 10;
}
#content {
    padding-top:4em;
    padding-bottom:3em;

}
footer {
    position:fixed;
    bottom:-1em;
    height:3em;   /* Height of the footer */
    background-color: #ffffff;

    width: inherit;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-color: #70bf44;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 2px;

    box-shadow: .5em .5em .5em #aaa;
}
#navigationBar {
    padding-top: 1.5em;
}
#navigationBar a{

    display: inline-block;
    padding: .2em 1em;

    border-radius: 1em;

    transition: 300ms;
    -webkit-transition: 300ms;
}

#navigationBar a:hover{
    background-color: #aaa;
    cursor: pointer;
}

#login form{
    display: none;

    padding: 0 1em;

    transition:width 300ms;
    -webkit-transition:width 300ms;

    overflow: hidden;

    vertical-align: middle;
}

#loginDiv {
    padding: 0 1em;
}

#navigationBar #welcome {
    display:inline-block;
    float: right;
    padding: 0 1em;
}

#navigationBar form .button {
    border:0 none;
    background-color: inherit;
    font-family: inherit;
    font-size: 100%;
    transition: 300ms;
    -webkit-transition: 300ms;
    border-radius: .5em;
}

/* Multipurpose box */
.box {

    width: inherit;

    padding: 1em;
    color: #444;

    border-color: #70bf44;
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 2px;

    text-align: center;

    margin: 1em 0;

    overflow: hidden;

    transition: 200ms;
    -webkit-transition: 200ms;
}
.box img {
    float: left;
}

.box:hover {

    background-color: #ffffff;

    -webkit-transform: translate(-10px,-10px);
    -moz-transform: translate(-10px,-10px);
    -ms-transform: translate(-10px,-10px);
    -o-transform: translate(-10px,-10px);
    transform: translate(-10px,-10px);

    box-shadow: 10px 10px 5px #aaa;

}

/* REGISTER FORM */
#register input {
    display: block;
    width: 80%;
    color: inherit;

    margin: 1em auto;
}

/* FONTS */
@font-face {
    font-family: goodTimes, sans-serif;
    src: url(goodtimes.otf);
}

@font-face {
    font-family: roboto;
    src: url(roboto_l.ttf);
}

@font-face {
    font-family: roboto;
    src: url(roboto_t.ttf);
    font-weight: lighter;
}
h1 {
    font: goodTimes;
}

small {
    font-size: inherit;
    font-weight: lighter;
    color: #a9a9a9;
}

.error {
    color: darkred;
}

/* PLOT */
.jqplot-yaxis {
    width: 40% !important;
}